<section id="detailSection" class="detail-section">    
    <div id="detail" class="detail-content"></div>
    <div class="metadata">        
        <div class="comments">
            <form id="quote-form" class="quote-form" novalidate>
                <div class="commentsLeft">
                    <label for="quote"><i class="far fa-comment"></i>Leave a comment</label>
                </div>
                <div class="commentsRight">  
                    <input id="quote" placeholder="Add your quote" class="input primary" type="text" required="required" pattern="[A-Za-z0-9]{1,20}"> 
                    <button type="submit" class="button primary">save</button>
                </div>                             
            </form>
            <div id="printComments"></div>
        </div>        
    </div>      
</section>