<section id="searchSection">
    <picture>
        <source srcset="../images/beerflix-500.jpg 500w,../images/beerflix-tablet.jpg 800w,../images/beerflix-hires.jpg 1280w,../images/beerflix.jpg 1900w" media="(min-width: 480px)">           
        <img src="../images/beerflix-mobile.jpg" alt="Beer flix">
    </picture>
    <div class="filter">
        <form id="search" class="filter-input">
            <input placeholder="Search your beer" class="input beer" type="text"><input placeholder="Year" class="input year" type="text"><button type="submit" class="button search"><i class="fas fa-beer"></i><span>Search</span></button>
        </form>
    </div>    
</section>