#searchSection{position:relative;}
#searchSection picture:after{content:"";display:block;position:absolute;width:100%;height:100%;left:0%;top:0%;background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(79, 19, 13,.4), rgba(82, 21, 8,.4)) repeat scroll 0% 0%;
}
#searchSection .filter{display:flex;position:absolute;width:100%;height:100%;top:0%;align-items: center;justify-content: center;}
#search{
    @extend .container;
    text-align:center;
}
#search input{ 
    font-weight:bold;   
    &.year{width:15%;border-right:0px;border-left:0px;}
    &.beer{width:40%;border-top-left-radius:4px;border-bottom-left-radius:4px;}
}
#search button{
    @extend .button;
    width:10%;min-width:50px;background:$primary-color-light;border-top-right-radius:4px;border-bottom-right-radius:4px;border-left:0px;
    span{display:none;}
    @include desktop {
        width:20%;
        span{display:inline-block;}
        i{margin-right:20px;}
    }    
}
#search input, #search button{
    display:inline-block;line-height:35px;padding:0px 15px;border:3px solid #f3f3f3;
    @include desktop {
        font-size:$primary-font-size;
        line-height:45px;
    }
}